<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="appender"
		class="org.apache.log4j.FileAppender">
		<param name="File" value="./test-output/MOENGAGE_APITEST.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %p - %m%n" />
		</layout>
		<!-- <Async name="ASYNC"> <AppenderRef ref="TEMP"/> </Async> -->
	</appender>
	<appender name="ASYNC"
		class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE" />
	</appender>
	<root>
		<priority value="info" />
		<appender-ref ref="appender" />
	</root>

</log4j:configuration>
